/* ------------------- fonts ------------------- */
@font-face{
    font-family : 'myFont';
    src : url('../fonts/myFontRegular.ttf') format('truetype');
}

/* ---------------- general ----------------- */
.navbar-default .navbar-nav>li>a:focus {
	box-shadow: none;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #2d7b69;
}

.navbar {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    background:  #3f3f3f;
    border: 0;
    height: 70px;
}

.navbar-default .navbar-brand {
    font-family: "myFont", Helvetica;
    font-size: 30px;
    margin-top: 10px;
}

.navbar-default .navbar-brand:hover {
    color: #2d7b69;
}

.navbar-right {
    margin-top: 10px;
}

.navbar-collapse {
    background: #3f3f3f;
    margin-top: 10px;
    z-index: 1000;
}

.navbar-default .navbar-collapse {
    border-color: #777;
}

.navbar-toggle {
    margin-top: 15px;
}

@media (min-width: 768px) {
	
	.collapse .navbar-nav {
		display: none;
	}
    
    .contenu {
        margin-left: 225px;
    }
}

@media (max-width: 767px) {
	
	.left-menu{
		display: none;
	}
    
    .contenu {
        margin-left: 25px;
    }
}

.contenu h1 {
	margin-bottom: 20px;
}

body {
	background: #292929;	
}

body h1 {
     font-family: 'myFont', 'Open Sans', sans-serif;
     font-size: 3em;
     color: white;
}

body h2, h3, p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@media (max-width: 290px) {
	
	.navbar-default .navbar-brand {
		font-size: 20px;
	}
    
    .contenu h1 {
        font-size: 2.4em;
    }
}

@media (min-width: 290px) and (max-width: 355px) {
	
	.navbar-default .navbar-brand {
		font-size: 24px;
	}
}

@media (min-width: 855px) {
	
	.navbar-brand {
		padding: 15px 20px;
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	
	.navbar-brand {
		margin-left: 10px;
	}
}

/* --------------- left menu --------------- */
.left-menu {
    width: 200px;
    background-color: #292929;
    float: left;
}

.left-menu a {
    display: inline-block;
    cursor: pointer;
    color: #777;
    font-size: 18px;
    min-width: 185px;
}

/* ----------- Formulaire contact ------------ */
.contenu-form {
	max-width: 600px;
	width: 95%;
	margin: 0 auto;
	position: relative;
}

#contact-form {
	border-top: 5px solid #2d7b69;
	display: inline-block;
	padding: 50px;
	border-radius: 10px;
	background: #2f2f2f;
	float: left;
	margin: 0 20px 20px 0;
}

#contact-form h3 {
	color: white;
	display:block;
	font-size:28px;
	margin: 0;
}

#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#contact-form label span {
	color: white;
	display:block;
	margin:5px 0;
	font-weight:300;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact-form textarea {
	height:100px;
	max-width:100%;
}

#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#2d7b69;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}

#contact-form button[type="submit"]:hover {
    background: #37947e;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}

::-webkit-input-placeholder {
    color:#888;
}

:-moz-placeholder {
    color:#888;
}

::-moz-placeholder {
    color:#888;
}

:-ms-input-placeholder {
    color:#888;
}

#contact-form label span .red {
	color: red;
	display: inline;
}

#contact-form label {
	display: block;
}

/* ----------- Expérience ------------ */
.experience {
	border-top: 5px solid #2d7b69;
	display: inline-block;
	padding: 20px;
	border-radius: 10px;
	background: #2f2f2f;
	float: left;
	margin: 0 20px 20px 0;
}

.experience:hover {
	background: #3f3f3f;
	cursor: pointer;
	border-top: 5px solid #37947e;
}

.experience h2 {
	margin-top: 0;
}

/* ----------- Photographie ------------ */
.photography {
    width: 80%;
    margin-top: 10px;
    position: absolute;

}

.col {
    position: relative;
    width: 23%;
    display: inline-block;
    margin: 0 4px;
}

.col img {
    width: 100%;
    margin-bottom: 12px;
    float: left;
    border: 1px solid #3f3f3f;
}

.col img:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 1200px) {
	
	.col {
		width: 45%;;
	}
    
    .col1, .col2 {
        margin-bottom: -4px;
    }
}

@media (max-width: 855px) {

    .col {
        width: 80%;
    }
    
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-dialog {
    width: 70%;
}

.modal-pic {
    display: inline-block;
    float: left;
    height: 80%;
    width: 55%;
}

.modal-pic img {
    height: 600px;
}

.modal-title {
    display: inline-block;
    float: left;
    color: white;
}

.close {
    color: white;
    opacity: 0.8;
}

.close:hover {
    color: #3f3f3f;
}